{% extends 'layout.html' %}

{% block title %}New Order{% endblock title %}

{% block content %}

<div class="d-flex justify-content-between mb-4">
    <h1>Log a New Order</h1>
    <p><a href="/cookies">Back to purchases</a></p>
</div>
<div class="card">
    <div class="card-body">
        <form action="/cookies/new", method="post">
            {% with messages = get_flashed_messages() %}
            {% if messages %}
                {% for message in messages %}
                    <p class="text-danger fw-bold">{{ message }}</p>
                {% endfor %}
            {% endif %}
            {% endwith %}
            <div class="mb-3">
                <label for="name" class="form-label">Name</label>
                <input type="text" name="name" id="name" value="{{ session['create_order_data']['name'] if session['create_order_data'] }}" class="form-control">
            </div>
            <div class="mb-3">
                <label for="cookie_type">Cookie Type</label>
                <input type="text" name="cookie_type" id = "cookie_type" value="{{ session['create_order_data']['cookie_type'] if session['create_order_data'] }}" class="form-control">
            </div>
            <div class="mb-3">
                <label for="num_of_boxes">Number of boxes</label>
                <input type="number" name="num_of_boxes" id="num_of_boxes" value="{{ session['create_order_data']['num_of_boxes'] if session['create_order_data'] else '0'}}" class="form-control">
            </div>
            <input type="submit" value="Log" class="btn btn-primary">
        </form>
    </div>
</div>

{% endblock content %}